body {
    background-color: green;
    background-image: url('sgr-s23xDAYQBCo-unsplash.jpg');
    /* Photo by https://unsplash.com/@sgr?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText/*/
}
#sharkmap {
    float: right;
}
#header {
    background-color:#D7CEC7;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: medium;
    color: #76323F;
}
