body {
    background-color: green;
    background-image: url('Background.jpg');
    
}
#sharkmap {
    float: right;
}
#header {
    background-color:#D7CEC7;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: medium;
    color: #76323F;
}
