body {
    background-color: green;
    background-image: url('Background.jpg');
    
}
.sharkmap {
    float: right;
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.sharkmap iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
#header {
    background-color:#D7CEC7;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: medium;
    color: #76323F;
}
h2 {
    margin-bottom: 0px;
}